<launch>
  <!-- 唤醒turtlebot -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />
  
 <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch" />
  
  <!-- 加载地图 -->
  <arg name="map_file" default="/home/huziqi/catkin_ws/src/slam_navigation/tmp.yaml" /> 
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
    
  
  <include file="/home/huziqi/catkin_ws/src/turtlebot_apps/turtlebot_navigation/launch/includes/amcl/amcl.launch.xml"/>
  

  <!-- 3D visualization -->
  <!-- Rviz -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
 
  <!-- 加载C++节点 -->

  <node pkg="slam_navigation" type="A_Star" name="A_Star" respawn="true" output="screen" />
  <node pkg="slam_navigation" type="MaptoOdom" name="MaptoOdom" respawn="true" launch-prefix="xterm -e" />
  <!--<node pkg="slam_navigation" type="Controller" name="Controller" output="screen" />-->
</launch>

